.advSearch-container .col input {
    width: 180px;
    height: 27px;
    outline: 1px;
    border: 1px solid #dadada;
}

.contorlForm {
    right: -22px;
}

footer,
.quotes table tr,
.gradient {
   filter: none;
}

.quotes table tbody tr:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5ff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-8 */
     background: #bfe5ff; /* Old browsers */
}


.navi ul li a {
    z-index: 9;
    position: relative;
 }
 .navi ul li h2 {
    font-size: 13px!important;
}
.advSearch,
.advSearch-container .col input,
.advSearch-control .srch  {
    
    position: relative;
 }

.advSearch-control {
    right: 23px;
}

.quotes table *,
.quotes table tbody tr {
        /*overflow: visible;*/
        /*border: 1px solid red;*/
    }
.quotes table tbody tr:hover {
    display: block!important;
    float: left!important;
    width: 890px!important;
}

.popUp {
    width: 100%;
    height: 100%;
    background: #111;
}

.contorlForm span {
    margin: 2px 24px 0 0;
}

.wizard  a.past span  {
    background: url(../img/wizIe.png)no-repeat!important;
    margin-left: 2px;
 }
.formType-radio input[type="radio"],
.formType-checkbox input[type="checkbox"]  {
        display: inline-block;
}
.setOfchkecks-Wrap {
    margin: 0 -38px;
    left: -20px;
    top: -2px;
}
.formBlock .radioLable {
    margin-right: 0px;
}

.mess-quote.saveCont {
    width: 290px;
}
.chars-bottomControl .quote-shad {
    width: 290px;
    left: -3px;
}

/* 04_products  */

.products .productsSet .prodCheck input[type="checkbox"] {
    display: block;
}

.incQuotes .formType-checkbox input[type="checkbox"] {
    left: -22px;
}
/* customers */ 
.quoteFilter {
    height: 50px!important;
}
.quoteFilter .quoteFilter-location {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    top: 14px;
}

/* wizzard */
.wizard .wizardBl .wizardBl-dotPast {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 32px;
    left: 49px;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background:  url(../img/wizIe.png);
}

/* select width */ 

.select2-results {
    min-width: auto;
}

/* quote filter positioning */
.quoteFilter .quoteFilter-location {
    top: -4px;
}

.messCenter .messCent-table .rowBlockData, 
.messCenter .messCent-table .rowBlockData:hover,
.messCenter .messCent-table .rwDataWrap:hover,
.messCenter .messCent-table .rwDataWrap {
    background: #f0f0f1!important;
    padding: 0;
    margin: 0;
    position: relative;
    box-shadow: none;
    border: 0;
    filter: none;
    width: 850px!important;
    left: 0;

}
/* message center new tr adding */ 
.messCenter .messCent-table .rwDataWrap {
    width: 850px;
    background: #f0f0f1;
}

 
.activeTr, 
.quotes table tbody tr:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5ff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-8 */
     background: #bfe5ff; /* Old browsers */

    padding: 0!important;
    margin: 0!important;
    position: relative!important;
    box-shadow: none!important;
    width: 880px!important;
    display: block!important;
}
