.advSearch-container .col input {
    width: 180px;
    height: 27px;
    outline: 1px;
    border: 1px solid #dadada;
}

footer,
.quotes table tr,
.gradient {
   filter: none;
}

.quotes table tbody tr:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5ff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-8 */
     background: #bfe5ff; /* Old browsers */
}


.navi ul li a {
    z-index: 9;
    position: relative;
 }
.advSearch,
.advSearch-container .col input,
.advSearch-control .srch  {
    z-index: 90;
    position: relative;
 }

.quotes table *,
.quotes table tbody tr {
        /*overflow: visible;*/
        /*border: 1px solid red;*/
    }
.quotes table tbody tr:hover {
    display: block!important;
    float: left!important;
    width: 890px!important;
}

.popUp {
    width: 100%;
    height: 100%;
    background: #111;
}

.contorlForm span {
    margin: 2px 24px 0 0;
}

.wizard  a.past span  {
    background: url(../img/wizIe.png)no-repeat!important;
    margin-left: 2px;
 }
