.jcarousel-wrapper {
    // margin: 20px auto;
    position: relative;
    // border: 10px solid #fff;
    // border-radius: 5px;
    // box-shadow: 0 0 2px #999;
    width: 374px;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 310px;
    margin: 0 auto;
    color: $blue;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
}

.jcarousel li {
    width: 103px!important;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    border-radius: 5px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 50px;
    text-align: center;

    text-decoration: none;
}

.jcarousel-control-prev {
    left: 0;    background: url(../img/slide_L.png) no-repeat;
}

.jcarousel-control-next {
    right: -15px;     background: url(../img/slide_R.png) no-repeat;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
    display: none!important;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 2px #F0EFE7;
}